// app global css in SCSS form
// app.scss

// Import Quasar variables
@import "quasar.variables.scss";

// Custom styles

.q-tabs-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35%;
}

.q-tab-right {
  margin-left: auto;
}

.home-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
}

.home-text-container h1 {
  font-weight: bold;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 20px;
}

.home-text-container p {
  margin: 0 auto;
  text-align: center;
  font-size: larger;
  max-width: 50%;
}


header {
  font-size: 3em;
}
header nav a {
  font-size: 1em;
}

.my-card {
  width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.q-img {
  height: 200px;
}
.listing-card {
  min-height: 100%;
  object-fit: fill;
}


.search-input .q-field__native {
  text-align: left;
}

.pets-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Change this number to adjust the number of columns */
  gap: 16px;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.search-container span:hover {
  text-decoration: underline;
  background-color: rgb(251, 208, 129);
  cursor: pointer;
}
h6 {
  margin: 0.5%;
}
.q-layout {
  box-sizing: border-box;
  max-width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 0.2%;
}

body {
  overflow-x: hidden;
}

.add-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-wrapper {
  width: 100%;
  max-width: 20%;
  padding: 1%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin: 0 auto;
  border: 1px solid #cccccc;
  border-radius: 5px;

}

.my-card .text-h6 {
  white-space: nowrap;
  font-size: 1.5em;
  text-align: center;
}
.my-card {
  padding: 0;
  margin: 0 auto;
}

.q-card-section {
  margin: 0;
  padding: 0;
}
.my-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

































// ... other custom styles ...


