// app global css in SCSS form
// app.scss

// Import Quasar variables
@import "quasar.variables.scss";

// Custom styles
.q-tabs-centered {
  display: flex;
  justify-content: center;
}

.q-tab-right {
  margin-left: auto;
}

.q-tab-with-margin {
  margin-right: 856px;
}

.home-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  //this is supposed to allow us to highlight the text but its not
  -webkit-user-select: text; /* Safari */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+/Edge */
  user-select: text !important;
}

.home-text-container h1 {
  font-weight: bold;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 20px;
}

.home-text-container p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: larger;
  margin-bottom: 10px;
  max-height: max-content;
}

.home-title-container {
  margin-bottom: 20px;
}

header {
  font-size: 3em;
}
header nav a {
  font-size: 1em;
}

.my-card {
  width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .q-img {
    height: 300px;
  }
}

.listing-card {
  width: 100%;
  max-width: 250px;
}

// ... other custom styles ...


